name: Release crates (Debian)

on:
  workflow_call:
    inputs:
      live-run:
        type: boolean
        required: true
      repo:
        type: string
        required: true
      version:
        type: string
        required: true
      branch:
        type: string
        required: true
      installation-test:
        type: boolean
        required: false
        default: true
      no-build:
        type: boolean
        required: false
        default: false
  workflow_dispatch:
    inputs:
      live-run:
        type: boolean
        required: true
      repo:
        type: string
        required: true
      version:
        type: string
        required: true
      branch:
        type: string
        required: true
      installation-test:
        type: boolean
        required: false
        default: true
      no-build:
        type: boolean
        required: false
        default: false

jobs:
  build:
    if: ${{ !inputs.no-build }}
    uses: eclipse-zenoh/ci/.github/workflows/build-crates-debian.yml@main
    with:
      repo: ${{ inputs.repo }}
      version: ${{ inputs.version }}
      branch: ${{ inputs.branch }}
    secrets: inherit

  publish:
    if: always()
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.ORG_GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.ORG_GPG_PASSPHRASE }}
          fingerprint: ${{ secrets.ORG_GPG_SUBKEY_ID }}

      - uses: eclipse-zenoh/ci/publish-crates-debian@sign-debian-packages
        with:
          live-run: ${{ inputs.live-run }}
          version: ${{ inputs.version }}
          installation-test: ${{ inputs.installation-test }}
          ssh-host: genie.zenoh@projects-storage.eclipse.org
          ssh-host-path: /home/data/httpd/download.eclipse.org/zenoh/debian-repo
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
          ssh-passphrase: ${{ secrets.SSH_PASSPHRASE }}
          gpg-key-id: ${{ secrets.GPG_KEY_ID }}
          gpg-subkey-id: ${{ secrets.GPG_SUBKEY_ID }}
          repo: ${{ inputs.repo }}
