name: Sync milestones and labels across all eclipse-zenoh repos

on:
  workflow_dispatch:
    inputs:
      milestone:
        type: string
        description: The milestone to create in zenoh if it does not exist.
        required: false
      due_date:
        type: string
        description: "The milestone due date. This is a timestamp in ISO 8601 format: YYYY-MM-DDTHH:MM:SSZ."
        required: false
      live-run:
        type: boolean
        description: If true, the workflow will perform actual changes. If false, it will run in dry-run mode.
        default: false
        required: false
      repositories:
        type: string
        description: A space-separated list of repositories to sync.
        required: false
        default: "eclipse-zenoh/zenoh-c eclipse-zenoh/zenoh-pico eclipse-zenoh/zenoh-cpp eclipse-zenoh/zenoh-python eclipse-zenoh/zenoh-java eclipse-zenoh/zenoh-kotlin eclipse-zenoh/zenoh-ts eclipse-zenoh/zenoh-plugin-dds eclipse-zenoh/zenoh-plugin-mqtt eclipse-zenoh/zenoh-plugin-ros2dds eclipse-zenoh/zenoh-plugin-webserver eclipse-zenoh/zenoh-backend-filesystem eclipse-zenoh/zenoh-backend-influxdb eclipse-zenoh/zenoh-backend-rocksdb eclipse-zenoh/zenoh-backend-s3 eclipse-zenoh/zenoh-dissector"
defaults:
  run:
    shell: bash

jobs:
  sync-labels:
    name: Sync Zenoh's labels with dependant repositories
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Read required labels
        id: read-labels
        run: |
          echo "labels=$(cat ./pr-checklists.json | jq -r '.label_checklists | keys | join(" ")')" >> $GITHUB_OUTPUT

      - uses: actions/checkout@v6
        with:
          repository: https://github.com/pbochynski/github-sync.git
          ref: 131ac0c

      - uses: actions/setup-node@v4
        with:
          node-version: "24"
      - run: npm install
      - run: |
          github-sync.js --token ${{ secrets.BOT_TOKEN_WORKFLOW }} labels  \
            -s eclipse-zenoh/zenoh \
            -t "${{ inputs.repositories }}" \
            -l ${{ steps.read-labels.outputs.labels }} \
            ${{ inputs.live-run == true && '' || '--dry-run' }}

  sync-milestones:
    name: Sync Zenoh's milestones with dependant repositories
    runs-on: ubuntu-latest
    steps:
      - name: Create milestone in zenoh if it does not exist
        if: ${{ inputs.milestone != '' && inputs.due_date != '' }}
        uses: actions/github-script@v7
        with:
          result-encoding: string
          script: |
            const milestones = await github.rest.issues.listMilestones({
              owner: 'eclipse-zenoh',
              repo:  'zenoh',
            });
            const milestone = milestones.data.find(m => m.title === '${{ inputs.milestone }}');

            if !(milestone) {
              await github.rest.issues.createMilestone({
                owner: 'eclipse-zenoh',
                repo: 'zenoh',
                title: '${{ inputs.milestone }}',
                due_on: '${{ inputs.due_date }}'
              });
            }

      - uses: actions/checkout@v6
        with:
          repository: https://github.com/pbochynski/github-sync.git
          ref: 131ac0c

      - uses: actions/setup-node@v4
        with:
          node-version: "24"
      - run: npm install
      - run: |
          github-sync.js --token ${{ secrets.BOT_TOKEN_WORKFLOW }} milestones \
            -s eclipse-zenoh/zenoh \
            -t "${{ inputs.repositories }}" \
            ${{ inputs.live-run == true && '' || '--dry-run' }}
