name: Test GPG setup

on:
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  import-gpg:
    runs-on: ubuntu-latest
    steps:
      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@v6.3.0
        with:
          gpg_private_key: ${{ secrets.ORG_GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.ORG_GPG_PASSPHRASE }}
          fingerprint: "C09537EDCF795D136EA8CB50829768EDD9BD8B8F"

      - name: Check import
        if: always()
        run: |
          gpg --with-keygrip --list-keys --with-subkey-fingerprint
          gpg --with-keygrip --list-secret-keys --with-subkey-fingerprint
